# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/*
learn-springcloud/learn-springcloud-eureka/src/test/
learn-springcloud/learn-springcloud-eureka/target/generated-sources/
learn-dubbo/learn-dubbo-api/src/main/java/com/a3fun/learn/dubbo/api/service/UserService.java
learn-dubbo/learn-dubbo-api/src/main/java/com/a3fun/learn/dubbo/api/vo/User.java
learn-dubbo/learn-dubbo-consumer/src/main/java/com/a3fun/learn/dubbo/consumer/controller/UserController.java
learn-dubbo/learn-dubbo-provider/src/main/java/com/a3fun/learn/dubbo/provider/service/impl/UserServiceImpl.java
learn-dubbo/learn-dubbo.iml
